body{
  background-image: url("../image/springfield.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}
p{
  color: white;
}
.footer{
  position: fixed;
}
h1 , h2 {
  color: rgb(247, 222, 2);
  text-shadow: -2px 0 black,0 2px black, 2px 0 black, 0 -2px black;
  font-size: 60px;
}
.answer {
  color: rgb(247, 222, 2);
  background-color: rgb(0, 183, 255);
  border-bottom-color: 2px rgb(247, 222, 2);
  height: 50px;
  padding-left: 14px;
  border-radius: 4px;
  border: 3px solid black;
}
#wrapper {
  color:white;
  width: 300px;
  text-align: center;
  margin: 50px auto 0;
  font-size: 30px;
  background-color: rgba(0, 100, 0, 0.815);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(165, 108, 42);
}


.text-center {
    text-justify: auto;
    color: rgb(247, 222, 2);
    text-shadow: -2px 0 black,0 2px black, 2px 0 black, 0 -2px black;
}